<div class="home-page">
  <section>
    <h1>Construire un avenir solidaire</h1>
    <p></p>
    <div class="membership-donation-link">
      <button (click)="goToRegister()">J'adhère à l'association</button>
      <button (click)="goToLogin()">Je fais un don</button>
    </div>
  </section>

  <section>
    <h2>Événements à venir</h2>
    @if (latestEvent.length > 0) {
      <div class="cards">
        @for (event of latestEvent; track event.eventId) {
          <article class="card">

            @if (event.mediaList?.[0]; as media) {
              <div class="news-image">
                <!-- IMAGE -->
                @if (event.displayType === 'IMAGE') {
                  <img
                    [src]="apiUrlBack + '/uploads/media/' + media.imagePath"
                    alt="event-img"
                  />

                }
                <!-- VIDEO -->
                @if (event.displayType === 'VIDEO') {
                  <iframe
                    title="event-video"
                    width="100%"
                    height="200"
                    [src]="getSafeYoutubeUrl(media.videoUrl!)"
                    allowfullscreen>
                  </iframe>
                }

              </div>

            }


            <h3>{{ event.title }}</h3>

            <small>
              {{ event.startDate | date:'dd/MM/yyyy' }}
            </small>

            <p class="card-p">
              {{ event.description | truncate:80 }}
            </p>

            <a [routerLink]="['/event/detail', event.eventId]" class="read-more-home">
              voir
            </a>

          </article>
        }
      </div>
    } @else {
      <p class="card-p">Aucun évènement pour le moment</p>
    }
  </section>

  <section>
    <h2>Ateliers à venir</h2>
    @if (latestWorkshop.length > 0) {
      <div class="cards">
        @for (workshop of latestWorkshop; track workshop.workshopId) {
          <article class="card">

            @if (workshop.mediaList?.[0]; as media) {
              <div class="news-image">
                <!-- IMAGE -->
                @if (workshop.displayType === 'IMAGE') {
                  <img
                    [src]="apiUrlBack + '/uploads/media/' + media.imagePath"
                    alt="workshop-img"
                  />

                }
                <!-- VIDEO -->
                @if (workshop.displayType === 'VIDEO') {
                  <iframe
                    title="workshop-video"
                    width="100%"
                    height="200"
                    [src]="getSafeYoutubeUrl(media.videoUrl!)"
                    allowfullscreen>
                  </iframe>
                }

              </div>

            }

            <h3>{{ workshop.title }}</h3>

            <small>
              {{ workshop.startDate | date:'dd/MM/yyyy' }}
            </small>

            <p class="card-p">
              {{ workshop.description | truncate:80 }}
            </p>

            <a [routerLink]="['/workshop/detail', workshop.workshopId]" class="read-more-home">
              voir
            </a>

          </article>
        }
      </div>
    } @else {
      <p class="card-p">Aucun atelier pour le moment</p>
    }
  </section>

  <!--<section>
    <h2>Réalisations</h2>
  </section>-->

  <section class="latest-news">
    <h2>Actualités</h2>

    @if (latestNews.length > 0) {
      <div class="cards">
        @for (news of latestNews; track news.newsId) {
          <article class="card">

            @if (news.mediaList?.[0]; as media) {
              <img
                [src]="apiUrlBack + '/uploads/media/' + media.imagePath"
                alt="news img"
              />
            }

            <h3>{{ news.title }}</h3>

            <small>
              {{ news.publishedAt | date:'dd/MM/yyyy' }}
            </small>

            <p class="card-p">
              {{ news.content | truncate:80 }}
            </p>

            <a [routerLink]="['/news/detail', news.newsId]" class="read-more-home">
              Lire la suite
            </a>

          </article>
        }
      </div>
    } @else {
      <p class="card-p">Aucune actualité pour le moment</p>
    }
  </section>
</div>
