@use 'styles/variables' as *;

.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: $bg-main;
}

/* ===== First section ===== */
.home-page > section:first-child {
  background-color: white;
  padding: 3rem 1.5rem;
  text-align: center;

  h1 {
    color: $bg-main;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .membership-donation-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      padding: 0.9rem 1.4rem;
      border-radius: 6px;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      }

      &:first-child {
        background-color: $bg-main;
        color: $text-main;
      }

      &:last-child {
        background-color: $action;
        color: $bg-main;
      }
    }
  }
}

/* ===== Content sections ===== */
.home-page section:not(:first-child) {
  background-color: white;
  padding: 2rem 1.5rem;

  h2 {
    color: $bg-main;
    margin-bottom: 1.5rem;
  }

  .cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  }

  .card {
    background-color: $color-card-bg;
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 1.2rem;
    min-height: 120px;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      border-radius: 6px;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $bg-main;
      font-size: 1rem;
    }

    small {
      color: $action;
    }

    a {
      display: inline-block;
      margin-top: 0.5rem;
      color: white;
      font-weight: 600;
      text-decoration: none;
      background-color: $bg-main;
      padding: 0.5rem 1rem;
      border-radius: 7px;
    }

    .card-p {
      color: $bg-main;
    }


  }
}

/* ===== Desktop ===== */
@media (min-width: 1024px) {
  .home-page > section:first-child {
    background: linear-gradient(
        180deg,
        rgba(30, 200, 200, 0.7),
        rgba(30, 200, 200, 0.07)
    );

    h1 {
      font-size: 2.6rem;
    }

    .membership-donation-link {
      flex-direction: row;
      justify-content: center;
    }
  }

  .home-page section:not(:first-child) {
    padding: 3rem 4rem;


  }

}


