$bg-main: #141E50; // Fond principal
$action: #1EC8C8; // Boutons / actions
$text-main: #ffffff; // Texte principal
$text-soft: #AEE6D2; // Texte secondaire

$color-light-bg: #f5f7fb;
$color-card-bg: #ffffff;
$color-border: #dfe3eb;
