@use 'styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  width: 100%;
  max-width: 100vw;
}

footer {
  flex-shrink: 0;
}
