<section class="news-container">
  <h2>Create Workshop</h2>
  <!-- Display error message if exists -->
  @if (errorMessage) {
    <div class="error-box">
      <h3>{{ errorMessage }}</h3>
    </div>
  }

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- Title -->
    <div>
      <label for="title">Title</label>
      <input type="text" formControlName="title" id="title" name="title">
    </div>

    <!-- Description -->
    <div>
      <label for="description">Description</label>
      <editor
        [apiKey]="tinymceApikey"
        formControlName="description"
        [init]="editorConfig">
      </editor>
    </div>

    <!-- Start date -->
    <div>
      <label for="startDate">Start date</label>
      <input type="datetime-local" formControlName="startDate" id="startDate" name="startDate">
    </div>

    <!-- End date -->
    <div>
      <label for="endDate">End date</label>
      <input type="datetime-local" formControlName="endDate" id="endDate" name="endDate">
    </div>


    <!-- Location -->
    <div>
      <label for="location">Location</label>
      <input type="text" formControlName="location" id="location" name="location">
    </div>

    <!-- Address -->
    <div>
      <label for="address">Address</label>
      <input type="text" formControlName="address" id="address" name="address">
    </div>


    <!-- Capacity -->
    <div>
      <label for="capacity">Capacity</label>
      <input type="number" formControlName="capacity" id="capacity" name="capacity">
    </div>

    <!-- Visibility -->
    <div>
      <label for="visibility">Visibility</label>
      <select formControlName="visibility" id="visibility" name="visibility">
        <option value="PUBLIC">Public</option>
        <option value="MEMBER_ONLY">Members only</option>
      </select>
    </div>

    <!-- Image -->
    <div>
      <label for="image">Image</label>
      <input type="file"
             multiple
             accept="image/*"
             (change)="onFileSelected($event)"
             id="image" name="image">
    </div>

    <!-- Video URL -->
    <div>
      <label for="videoUrl">YouTube Video URL</label>

      <input
        type="url"
        formControlName="videoUrl"
        id="videoUrl"
        name="videoUrl"
        placeholder="https://www.youtube.com/watch?v=..."
      >
    </div>
    @if (form.get('videoUrl')?.invalid &&
    form.get('videoUrl')?.touched) {

      <small class="error">
        Invalid YouTube URL
      </small>
    }


    <!-- Actions -->
    <div class="actions">
      <button type="submit" class="create-btn">
        Create
      </button>

    </div>

  </form>
</section>


