.auth-container {
  width: 400px;
  margin: 80px auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 6px;

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    input {
      padding: 0.5rem;
    }

    small {
      color: red;
    }
  }

  .error {
    color: red;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    padding: 0.6rem;
  }
}
