<div class="admin-layout">

  <!-- Sidebar -->
  <aside class="admin-sidebar">

    <h2 class="admin-title">Admin Dashboard</h2>

    <!-- NEWS -->
    <div class="menu-section">
      <div class="menu-title">News</div>
      <ul class="submenu">
        <li><a routerLink ='/admin/news/create'>Add news</a></li>
        <li><a routerLink='/admin/news/management'>View news</a></li>
      </ul>
    </div>

    <!-- EVENTS -->
    <div class="menu-section">
      <div class="menu-title">Events</div>
      <ul class="submenu">
        <li><a routerLink ='/admin/event/create'>Add event</a></li>
        <li><a routerLink ='/admin/event'>View events</a></li>
      </ul>
    </div>

    <!-- ACHIEVEMENTS -->
    <div class="menu-section">
      <div class="menu-title">Achievements</div>
      <ul class="submenu">
        <li><a href="#">Add achievement</a></li>
        <li><a href="#">View achievements</a></li>
      </ul>
    </div>

    <!-- WORKSHOPS -->
    <div class="menu-section">
      <div class="menu-title">Workshops</div>
      <ul class="submenu">
        <li><a href="/admin/workshop/create">Add workshop</a></li>
        <li><a href="/admin/workshop">View workshops</a></li>
      </ul>
    </div>

    <!-- WORKSHOPS -->
    <div class="menu-section">
      <div class="menu-title">Members</div>
      <ul class="submenu">
        <li><a href="#">View members</a></li>
      </ul>
    </div>

    <!-- LOGOUT -->
    <div class="menu-section logout">
      <a (click)="logout()">Logout</a>
    </div>

  </aside>

  <!-- Main content -->
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>

</div>

