@use 'styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-main;
  padding: 0.75rem 1.2rem;
  height: 64px;
  color: $text-main;
}

/* ===== Burger (mobile) ===== */
.burger {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: $text-main;
  cursor: pointer;
}

/* ===== Logo ===== */
.logo {
  position: relative;
  width: 350px;
  height: 80px;

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}


/* ===== Search Icon ===== */
.search-btn {
  background: none;
  border: none;
  color: $text-main;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    color: $action;
  }
}

/* ===== Nav desktop ===== */
.nav-desktop {
  display: none;
  gap: 1.5rem;

  a {
    color: $text-soft;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover {
      color: $action;
    }
  }
}

/* ===== Nav mobile ===== */
.nav-mobile {
  position: fixed;
  top: 64px;
  left: 0;
  width: 70%;
  height: calc(100vh - 64px);
  background-color: $bg-main;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }

  a {
    color: $text-main;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover {
      color: $action;
    }
  }
}

/* ===== Desktop ===== */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .header {
    padding: 0 2rem;
  }

  .logo {
    order: 1;
  }

  .nav-desktop {
    display: flex;
    order: 2;
  }

  .search {
    order: 3;
  }

  .nav-mobile {
    display: none;
  }
}


