.image-slider {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.image-slider img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 10px;
}

.news-video {
  grid-column: 1 / -1;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  width: 100%;
  height: 100%;
}

.slider-track img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
}

/* Buttons */

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}

@media (max-width: 768px) {

  .image-slider {
    grid-column: 1;
    grid-row: 2;
    height: 220px;
  }

}
