@use 'styles/variables' as *;

.footer {
  background-color: $bg-main;
  color: $text-main;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
}

/* ===== links ===== */
.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: $text-main;
    text-decoration: none;

    &:hover {
      color: $action;
      text-decoration: underline;
    }
  }
}

/* ===== Copyright ===== */
.copyright {
  color: $text-soft;
  text-align: center;
  font-size: 0.85rem;
}

/* ===== Desktop ===== */
@media (min-width: 768px) {
  .footer {
    gap: 1.5rem;
  }

  .footer-links {
    justify-content: center;
  }
}
