@use 'styles/variables' as *;

.news-container {
  max-width: 600px;
  margin: 1rem auto;
  background: $color-light-bg;
  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 1rem;

  h2 {
    text-align: center;
    color: $bg-main;
    margin-bottom: 1.5rem;
  }

  form {
    background-color: $color-card-bg;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;

    /* Champs */
    > div {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    label {
      font-weight: 600;
      color: $bg-main;
    }

    input,
    textarea,
    select {
      padding: 0.6rem;
      border-radius: 7px;
      border: 1px solid $color-border;
      font-size: 0.95rem;
    }

    textarea {
      resize: vertical;
      min-height: 120px;
    }

    input[type="file"] {
      padding: 0.3rem;
      background: white;
    }

    /* Actions */
    .actions {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 1rem;

      button {
        padding: 0.6rem 1.5rem;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        min-width: 130px;

        button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .create-btn {
        background-color: $bg-main;
        color: $text-main;
      }

      .publish-btn {
        background-color: $action;
        color: $bg-main;
      }
    }

    .error {
      color: red;
      text-align: center;
      font-size: 0.9rem;
    }
  }

  /* ===== Desktop ===== */
  @media (min-width: 768px) {
    max-width: 90%;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;

      textarea {
        grid-column: 1 / -1;
      }

      .actions {
        grid-column: 1 / -1;
      }

      .error {
        grid-column: 1 / -1;
      }
    }
  }
}
