<section class="auth-container">

  <h2>Demande d'adhésion</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <p class="info">
      La demande d'adhésion sera examinée par un administrateur.
      Vous pourrez vous connecter une fois votre adhésion validée.
    </p>

    <div class="field first-name">
      <label for="firstName">Prénom</label>
      <input
        type="text"
        id="firstName"
        placeholder="Prénom"
        formControlName="firstName" >
    </div>

    <div class="field last-name">
      <label for="lastName">Nom</label>
      <input
        type="text"
        id="lastName"
        placeholder="Nom"
        formControlName="lastName">
    </div>

    <div class="field email">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Adresse email"
        formControlName="email" >
    </div>

    <div class="field password">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        placeholder="Mot de passe"
        formControlName="password" >
    </div>

    <div class="field confirm-password">
      <label for="confirmPassword">Confirmation du mot de passe</label>
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirmation du mot de passe"
        formControlName="confirmPassword" >
    </div>

    @if (errorMessage) {
      <div class="error">
        {{ errorMessage }}
      </div>
    }

    @if (successMessage) {
      <div class="success">
        {{ successMessage }}
      </div>
    }

    <button type="submit">
      Soumettre la demande d'adhésion
    </button>

  </form>

</section>


